*{
    margin: 0;

}

.arriba{
    width: 100%;
    height: 14.26vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    
}
 
.Titulo{
    font-family: "Sora", sans-serif;
    width: 64.32vw; 
    height: 8.07vh; 
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
   
    margin-left: 5.7vw; 
    margin-right: 7.28vw; 
}


.logo{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
   
    margin-right: 4.854vw; 
}
.medio{
    height: 677px;
    width: 100%;
}
.abajo{
    width: 100%;
    height: 120px;
    background-color: #AAD9F0;
}

