*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .arriba{
        width: 100%;
        height: 14.26vh; 
        background-color: #AAD9F0;
        display: flex;
        flex-direction: row;
        
        align-items: center;
        
    }
     
    .Titulo{
        font-family: "Sora", sans-serif;
        width: 64.32vw; 
        height: 8.07vh; 
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
       
        margin-left: 5.7vw; 
        margin-right: 7.28vw; 
    }
    
    
    .logo{
        font-family: "Sora", sans-serif;
        width: 13.592vw; 
        height: 6.107vh; 
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
       
        margin-right: 4.854vw; 
    }    

body{
    width: 100vw; 
    height: 100vh; 
}
.logo2{
    width: 46.6vw; 
    height: 2.181vh; 
    background-color: #2541B2;
    margin-left: 2.913vw; 
}

.medio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 73.828vh;
}

.marco {
    position: relative;
    width: 85vw;
    height: 66.435vh;
}

.camara {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EE7070;
}

.camara video,
.camara canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-escanear {
    position: absolute;
    bottom: 1.745vh;
    left: 50%;
    transform: translateX(-50%);
    width: 16.74vw;
    height: 7.52vh;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 10;
    cursor: pointer;
}
.popup{
    height: 49.73vh;
    width: 89.32vw;
    border: none;
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 2.51vh));
    background-color: #Aad9f0;
    flex-direction: column;
    align-items: center;
}
.popup[open]{
    display: flex;
}
.popupGuardar{
    flex-direction: column;
    width: 89.32vw;
    height: 49.73vh;
    background-color: #Aad9f0;
    border: none;
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 2.51vh));
    align-items: center;
}
.popupGuardar[open]{
    display: flex;
}
.up{
    display: flex;
    width: 79.61vw;
    height: 10.91vh;
    margin-top: 2.18vh;
    justify-content: center;
    align-items: center;
}
.fto{
    height:10.91vh;
    aspect-ratio: 1/1;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-right: 4.37vw;
}
.nombreProducto{
    width: 51.21vw;
    height: 6.54vh;
    background-color: #2541B2;
}
.rest{
    display: flex;
    flex-direction: column;
    gap: 0.76vh;
    width: 79.13vw;
    height: 12.87vh;
    margin-top: 3.05vh;
}
.descripcion{
    width:79.13vw;
    background-color: #2541B2;
    height:  1.96vh;
}
.resto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnGuardar{
    display: flex;
    width: 37.62vw;
    height: 5.56vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Sora", sans-serif;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 13.20vh;
    margin-left: 4.13vw;
}
.contenedor{
    width:100%;
}
.headline{
    width: 74.03vw;
    height: 6.65vh;
    background-color: #2541B2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.94vh;
}
.imagen{
    width: 62.96vw;
    height: 21.7vh;
    background-color: #D9D9D9;
    margin-top: 2.07vh;
}
.pregunta{
    width: 74.03vw;
    height: 3.27vh;
    background-color: #2541B2;
    display: flex;
    align-items: center;
    margin-top: 2.07vh;
    color: white;
    font-family: "Sora", sans-serif;
}
.botones{
    display: flex;
    flex-direction: row;
    width: 80.34vw;
    height: 5.56vh;
    gap: 4.85vw;
    margin-right: 5.34vw;
    margin-left: 3.64vw;
    margin-top: 3.49vh;
}
.si{
    width: 37.62vw;
    height: 5.56vh;
    background-color:#d9d9d9;
    display: flex;
    border-radius: 10px;
    align-items: center;
   
    color: white;
    font-family: "Sora", sans-serif;
     
}
.no{
    width: 37.62vw;
    height: 5.56vh;
    background-color:#d9d9d9;
    display: flex;
    border-radius: 10px;
    align-items: center;
    
    color: white;
    font-family: "Sora", sans-serif;
 
}

.abajo{
    width: 100%;
    height: 13.086vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btnsabajo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 8.724vh; 
}
.Home{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Guardados{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Mapa{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Usuario{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Escaner{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.724vh; 
    width: 19.417vw; 
}