*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arriba{
    width: 100%;
    height: 13.086vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Configuracion{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9D9D9;
}
.Titulo{
    font-family: "Sora", sans-serif;
    width: 56.311vw; 
    height: 6.216vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF6A00;
    border-radius: 15.049vw; 
}
.logo{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #C55607; 
    margin-right: 4.854vw; 
}

body{
    width: 100vw; 
    height: 100vh; 
}
.logo2{
    width: 46.6vw; 
    height: 2.181vh; 
    background-color: #2541B2;
    margin-left: 2.913vw; 
}

.medio{
    height: 73.828vh; 
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.camara{
    width: 83.74vw;
    height: 66.84vh;
    background-color: #ed6f6f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 22.13vh;
    padding-bottom: 0.65vh;
}
.t{
    color: white;
    font-size: 36px;
    font-family: "Sora", sans-serif;
}
.b-escanear{
    width: 16.74vw;
    height: 7.52vh;
    background-color: #d9d9d9;
    border-radius: 50px;
    
}
.popup{
    height: 49.73vh;
    width: 89.32vw;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 2.51vh));
    background-color: #Aad9f0;
    flex-direction: column;
    align-items: center;
}
.popup[open]{
    display: flex;
}
.resto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline{
    width: 74.03vw;
    height: 6.65vh;
    background-color: #2541B2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.94vh;
}
.imagen{
    width: 62.96vw;
    height: 21.7vh;
    background-color: #D9D9D9;
    margin-top: 2.07vh;
}
.pregunta{
    width: 74.03vw;
    height: 3.27vh;
    background-color: #2541B2;
    display: flex;
    align-items: center;
    margin-top: 2.07vh;
    color: white;
    font-family: "Sora", sans-serif;
}
.botones{
    display: flex;
    flex-direction: row;
    width: 80.34vw;
    height: 5.56vh;
    gap: 4.85vw;
    margin-right: 5.34vw;
    margin-left: 3.64vw;
    margin-top: 3.49vh;
}
.si{
    width: 37.62vw;
    height: 5.56vh;
    background-color:#d9d9d9;
    display: flex;
    border-radius: 10px;
    align-items: center;
   
    color: white;
    font-family: "Sora", sans-serif;
     
}
.no{
    width: 37.62vw;
    height: 5.56vh;
    background-color:#d9d9d9;
    display: flex;
    border-radius: 10px;
    align-items: center;
    
    color: white;
    font-family: "Sora", sans-serif;
 
}

.abajo{
    width: 100%;
    height: 13.086vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btnsabajo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 8.724vh; 
}
.Home{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Guardados{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Mapa{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Usuario{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
}
.Escaner{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.724vh; 
    width: 19.417vw; 
}