*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw; 
    height: 100vh; 
}
.arriba{
    width: 100%;
    height: 14.29vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    align-items: center
}
 
.Titulo{
    font-family: "Sora", sans-serif;
    width: 64.32vw; 
    height: 8.07vh; 
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 4.36vh;
    margin-left: 5.7vw; 
    margin-right: 7.28vw; 
}


.logo{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 4.8vh;
    margin-right: 4.854vw; 
}
 
.medio{
    height: 71.54vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffac70;
}
.Historial{
    width: 89.684vw; 
    height: 33.37vh; 
    background-color: #8096EF;
    margin-top: 1.74vh; 
    margin-left: 3.27vw; 
    margin-right: 6.18vw; 
    margin-bottom: 1.52vh; 
    display: flex;
    border-radius: 34px;
    align-items: center;
 
}
.izq{
    display: flex;
    flex-direction: column;
    width: 50.728vw; 
    justify-content: space-between;
}
 
 
.Doctora{
    width: 38.11vw; 
    height: 27.70vh; 
    display: flex;
    justify-content: flex-end;
    margin-top: 1.636vh; 
    margin-bottom: 2.399vh; 
    margin-right: 4.005vw + 2.43vw; 
}
.Hist{
    width: 40.048vw; 
    height: 22.25vh; 
    display: flex;
    background-color: #f0c9a7;
    margin-left: 5.34vw; 
    margin-right: 5.34vw; 
    margin-bottom: 1.5vh; 
    padding-left: 1.214vw; 
    border-radius: 32px;
    border: 5px solid #8b4d31;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px 4px #00000025;
}
.clipboard{
width: 21.60vw;
height: 9.71vh;
margin-top: 3.88vw;
}
.histo{
    font-family: "Sora", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #8b4d31;
    margin-left: 4.37vw;
    margin-top: 1.42vh;
}

 
.Chats{
    width: 89.684vw; 
    height: 33.37vh; 
    background-color: #8096EF;
    margin-left: 5.158vw; 
    margin-right: 5.158vw; 
    display: flex;
    align-items: center;
    border-radius: 34px;
}
 
 
.Doctor{
    width: 38.83vw; 
    height: 26.94vh;
    display: flex;
    margin-top: 1.636vh;
    margin-bottom: 2.399vh;
    margin-left: 3.16vw; 
 
}
 
.der{
    height: 22.25vh;
    display: flex;
    flex-direction: column;
    width: 38.83vw;
    border: 5px solid #8b4d31;
    border-radius: 32px;
    background-color: #f0c9a7;
    align-items: center;
    margin-left: 2.07vw;
    box-shadow: 6px 6px 4px #00000025;
}
.chatpers{
    margin-top: 3.33vh;
height: 9.81vh;
width: 21.84vw;
}
.ch{
    font-family: "Sora", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #8b4d31;
    margin-top: 1.42vh;
}
.abajo{
    width: 100%;
    height: 14.29vh;
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
 
.btnsabajo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 8.724vh; 
      margin-top: 1.85vh;
}
 
.Home{
    font-family: "Sora", sans-serif;
    display: flex;
    font-size: 2.427vw; 
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
    background-color: #ff9040;
    width: 18.20vw;
    height: 8.07vh;
    border-radius: 30px;
         margin-bottom: 5.56vh;

}
.homeimg{
    height: 3.93vh;
    width: 9.95vw;
}
.Guardados{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh;
    width: 13.835vw;
         margin-bottom: 5.56vh;

}
.Mapa{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
         margin-bottom: 5.56vh;

}
.Usuario{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.216vh; 
    width: 13.835vw; 
         margin-bottom: 5.56vh;

}
.Escaner{
    font-family: "Sora", sans-serif;
    font-size: 2.427vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.724vh; 
    width: 19.417vw; 
         margin-bottom: 5.56vh;

}