*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arriba{
    width: 100%;
    height: 13.086vh; 
    background-color: #AAD9F0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Configuracion{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9D9D9;
}
.Titulo{
    font-family: "Sora", sans-serif;
    width: 56.311vw; 
    height: 6.216vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF6A00;
    border-radius: 15.049vw; 
}
.logo{
    font-family: "Sora", sans-serif;
    width: 13.592vw; 
    height: 6.107vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #C55607; 
    margin-right: 4.854vw; 
}

body{
    width: 100vw; 
    height: 100vh; 
}
.logo2{
    width: 46.6vw; 
    height: 2.181vh; 
    background-color: #2541B2;
    margin-left: 2.913vw; 
}

.medio{
        height: 86.91vh; 
        width: 100%;
        display: flex;
        flex-direction: column;
}
.cont{
    height: 3.16vh;
    width:  100%;
    margin-top: 1.19vh;
}
.atras{
    width: 13.83vw;
    height: 3.16vh;
    background-color: #D9D9D9;
    margin-left: 5.58vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flechita{
        font-size: 24px;
}
.mensaje{
    height: 79.28vh;
    width: 92.23vw;
    background-color: #8096EF;
    margin-top: 1.19vh;
    margin-left: 3.88vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.head{
    width: 84.95vw;
    height: 9.16vh;
    margin-top: 1.74vh;
    margin-left: 3.64vw;
    display: flex;
}
.prefijo{
    display: flex;
    flex-direction: column;
    gap: 2.61vh;
}
.de{
    width:11.65vw;
    height: 3.27vh;
    background-color: #2541B2;
}
.para{
    width:16.5vw;
    height: 3.27vh;
    background-color: #2541B2;
}
.nombres{
    height: 9.16vh;
    width: 66vw;
    display: flex;
    flex-direction: column;
    padding-left: 2.42vw;
    gap: 2.7vh;
    padding-bottom: 0;
}
.uno{
    width: 66vw;
    height:  3.21vh;
    background-color: #2541b2; 
}
.contenido{
    width: 85.19vw;
    height:  18.86vh;
    display:flex;
    flex-direction: column;
    gap: 1.41vh;
    margin-top: 2.61vh;
}
.oracion{
width: 85.19vw;
height: 1.96vh;
background-color: #2541B2;
margin-left: 3.64vw;
}
.dos{
    margin-top: 35.2vh;
    display: flex;
    justify-content: flex-end;
}
.enviar{
    width: 20.14vw;
    height: 9.05vh;
    background-color: #D9D9D9;
    margin-right: 5.58vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.env{
     font-size: 55px;
}
